// Specific CSS for your home-page

.container {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 32px;
  }
  p {
    font-size: 32px;
  }
}


body {
  background-color: rgb(228, 224, 224);
  margin: 16px;
}
